<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0, target-densitydpi=device-dpi">
    <title>移动教学平台</title>

    <!-- Bootstrap -->
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/timePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="__STATIC__/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--[if IE 7]>
		<link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link rel="stylesheet" href="__STATIC__/css/header.css">
    <link rel="stylesheet" href="__STATIC__/css/ydjxpt.css">
    <link rel="stylesheet" href="__STATIC__/css/bbs.css">

    
  </head>
  <body>
  <p id='top_info_warning' class="bg-warning text-danger" style='padding:0;margin:0;width:100%;display:none;position:fixed;z-index:99999;'></p>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="__STATIC__/jquery/jquery-3.1.1.min.js"></script>
	<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/timePicker/js/bootstrap-datetimepicker.js"></script>
    <script src="__STATIC__/timePicker/js/locales/bootstrap-datetimepicker.fr.js"></script>
	<script src="__STATIC__/md5/md5.js"></script>
	<script src="__STATIC__/md5/hashme.js"></script>
	<script src="__STATIC__/ueditor1_4_3_3-utf8-php/utf8-php/ueditor.config.js"></script>
	<script src="__STATIC__/ueditor1_4_3_3-utf8-php/utf8-php/ueditor.all.js"></script>
    <!-- <script src="__STATIC__/ChartJs/Chart.bundle.min.js"></script> -->
    <script src="__STATIC__/Hightcharts/highcharts.js"></script>
    <script src="__STATIC__/Hightcharts/modules/heatmap.js"></script>
    <script src="__STATIC__/Hightcharts/modules/exporting.js"></script>